nav {
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}

header {
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    

}
header a {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: 10px;
    text-align: center;
}

body {
    margin: 0;
    background-image: url(../images/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

