nav {
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

header {
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
header a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 10px;
    text-align: center;
}

body {
    margin: 0;
    background-image: url(../images/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #fff;
    color: #000000;
    padding: 20px 0;
    min-height: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3px;
}

.footer-section section {
    margin: 5px;
}
.footer-section {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-section h2 {
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 0.9em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.8em;
    margin: 0;
}

.about {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 8rem;
}
.about p {
    margin-block-start: 0px;
    margin-bottom: 0px;
    padding: 20px;
    padding-top: 0px;
    font-size: 18px;
}

.about h3 {
    padding: 20px;
    padding-bottom: 0px;
    font-size: 24px;
    margin-block-end: 5px;
    margin-block-start: 10px;
}