@media screen and (max-width: 1600px) {
    #table-wrapper h2 {
        display: flex;
        justify-content: center;
    }

    #table {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(18, 4.5rem);
        gap: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1px;
    }

    #lanthanoids {
        display: grid;
        grid-template-columns: repeat(18, 4.5rem);
        grid-template-rows: 1fr;
        gap: 1px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1px;
    }

    #acthanoids {
        display: grid;
        grid-template-columns: repeat(18, 4.5rem);
        grid-template-rows: 1fr;
        gap: 1px;
        width: 75%;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #element {
        height: 4.5rem;
        width: 4.5rem;
    }

    .element {
        height: 4.5rem;
        width: 4.5rem;
        border: 1px solid #ccc;
        display: flex;
        z-index: 100;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 0 15% black;
    }

    .element:hover {
        cursor: pointer;
    }

    .bg-name {
        font-size: 10.8px;
        text-align: center;
        z-index: 0;
    }

    .atomic-number {
        font-size: 10.8px;
        text-align: left;
        padding-left: 2px;
        z-index: 0;
    }

    .symbol {
        font-size: 21.6px;
        text-align: center;
        z-index: 0;
        cursor: pointer;
    }

    .name {
        font-size: 10.8px;
        text-align: center;
        z-index: 0;
    }

    .atomic-mass {
        font-size: 10.8px;
        text-align: right;
        padding-right: 2px;
        z-index: 0;
    }

    #popup-box {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        padding: 20px;
        border-radius: 10px;
        background-color: #e8f8ff;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .content {
        margin: 10px;
        margin-top: 10px;
        padding: 20px;
        max-height: 80vh;
        overflow-y: auto;
        background: #fff;
        border-radius: 8px;
    }

    .content h1 {
        color: #000000;
        font-size: 24px;
        text-transform: capitalize;
    }

    .content h2 {
        margin-bottom: 0%;
    }
    .content-bold {
        font-weight: bold;
    } 

    #top {
        display: flex;
    }

    #top img {
        margin-left: 3px;
        border-radius: 5px;
    }
    .box-close {
        background-color: rgb(249, 37, 37);
        color: #fff;
        font-size: 19px;
        text-decoration: none;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1600px) {
    #table-wrapper h2 {
        display: flex;
        justify-content: center;
    }

    #table {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(18, 5rem);
        row-gap: 5px;
        column-gap: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    #lanthanoids {
        display: grid;
        grid-template-columns: repeat(18, 5rem);
        gap: 5px;
        width: 75%;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    #acthanoids {
        display: grid;
        grid-template-columns: repeat(18, 5rem);
        gap: 5px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    #element {
        height: 5rem;
        width: 5rem;
    }

    .element {
        height: 5rem;
        width: 5rem;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 1px 1px 1px rgba(0 0 0.5 / 15%);
    }

    .element:hover {
        cursor: pointer;
    }

    .bg-name {
        font-size: 12px;
        text-align: center;
        z-index: 0;
    }

    .atomic-number {
        font-size: 12px;
        text-align: left;
        padding-left: 2px;
        z-index: 0;
    }

    .symbol {
        font-size: 24px;
        text-align: center;
        z-index: 0;
        cursor: pointer;
    }

    .name {
        font-size: 12px;
        text-align: center;
        z-index: 0;
    }

    .atomic-mass {
        font-size: 12px;
        text-align: right;
        padding-right: 2px;
        z-index: 0;
    }

    #popup-box {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        padding: 20px;
        border-radius: 10px;
        background-color: #e8f8ff;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .content {
        margin: 10px;
        margin-top: 10px;
        padding: 20px;
        max-height: 80vh;
        overflow-y: auto;
        background: #fff;
        border-radius: 8px;
    }

    .content h1 {
        color: #000000;
        font-size: 24px;
        text-transform: capitalize;
    }

    .content-bold {
        font-weight: bold;
    }

    #top {
        display: flex;
    }

    .box-close {
        background-color: rgb(255, 0, 0);
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}

#nonmetal {
    background-color: #ffff00;
}

#noble-gas {
    background-color: #c8e519;
}

#halogen {
    background-color: #ffcdd2;
}

#alkali-metal {
    background-color: #bc5db1;
}

#alkaline-earth-metal {
    background-color: #48c8fe;
}

#transition-metal {
    background-color: #b5e7fb;
}

#lanthanoid {
    background-color: #ffbe06;
}

#acthanoid {
    background-color: #fe9600;
}

#post-transition-metal {
    background-color: #b8a7db;
}